.select {
  font-size: 1rem;
  color: 333;
  border: 1px solid #ddd;
  padding: 0.5rem 0.5rem;
  background-color: whitesmoke;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 120px;
}

.select:hover {
  border-color: #aaa;
}

.select:focus {
  outline: none;
  border-color: #555;
}

@media screen and (max-width: 600px) {
  .select {
    font-size: 0.9rem;
    padding: 0.4rem 0.4rem;
    margin-left: 0;
    width: 100%;
  }
}
