.navBar {
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  a {
    color: white;
    padding: 0 10px;

    &:hover {
      color: #120169;
    }
  }
}
