.calendarContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-weight: bold;
  color: white;
}

.reactCalendar {
  width: 100%;
  max-width: 900px;
  font-weight: bold;
  opacity: 0.7;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgb(168, 167, 171);
  color: black;
}

.reactCalendar .react-calendar__tile {
  padding: 5px;
  text-align: center;
  height: 60px;
  overflow: hidden;
  font-weight: bold;
  color: white;
}

.reactCalendar .react-calendar__tile.react-calendar__tile--active,
.reactCalendar .react-calendar__tile.react-calendar__tile--hover,
.reactCalendar .react-calendar__tile {
  color: white !important;
}

.reactCalendar .react-calendar__tile * {
  color: inherit !important;
}

.reactCalendar .react-calendar__tile ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  line-height: 1.2em;
  text-align: left;
  color: white;
}

.reactCalendar .react-calendar__tile ul li {
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.reactCalendar .react-calendar__navigation,
.reactCalendar .react-calendar__navigation button {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.reactCalendar .react-calendar__month-view__weekdays,
.reactCalendar .react-calendar__month-view__weekdays abbr {
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .calendarContainer {
    margin: 10px 0;
    padding: 0;
  }

  .reactCalendar {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
  }

  .reactCalendar .react-calendar__tile {
    padding: 5px;
    font-size: 0.7em;
    height: 50px;
  }

  .reactCalendar .react-calendar__navigation,
  .reactCalendar .react-calendar__navigation button {
    margin-bottom: 5px;
    font-size: 0.8em;
  }

  .reactCalendar .react-calendar__month-view__weekdays,
  .reactCalendar .react-calendar__month-view__weekdays abbr {
    font-size: 0.7em;
  }
}
