.teamContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.teamCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: calc(20% - 10px);
  border: 1px solid white;
  color: white;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.commonInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background: rgb(14, 35, 87);
  width: 500px;
  height: 460px;
  margin: 0 auto;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 20px;
  font-weight: bold;
}

.goBackButton {
  position: absolute;
  top: 20px;
  background: none;
  right: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  border: 5px;

  cursor: pointer;
  background-color: whitesmoke;
  box-shadow: 0 5px 4px #ffffff4d;
}

.backIcon {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 600px) {
  .teamContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .teamCard {
    flex-basis: 100%;
    width: 85%;
    margin-bottom: 20px;
  }

  .commonInfo {
    width: 85%;
    height: auto;
    padding: 20px;
  }

  .goBackButton {
    position: static;
    margin: 20px auto;
    display: block;
    background: none;
    font-size: 32px;
    color: white;
  }
  .backIcon {
    background: none;
    width: 32px;
    height: 32px;
  }
}
